@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular-webfont.eot");
    src: local("Roboto"), local("Roboto-Regular"), local("Roboto-Regular-webfont"),
         url("fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/Roboto-Regular-webfont.woff2") format("woff2"),url(),
         url("fonts/Roboto-Regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Medium-webfont.eot");
    src: local("Roboto"), local("Roboto-Medium"), local("Roboto-Medium-webfont"),
         url("fonts/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/Roboto-Medium-webfont.woff2") format("woff2"),
         url("fonts/Roboto-Medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Bold-webfont.eot");
    src: local("Roboto"), local("Roboto-Bold"), local("Roboto-Bold-webfont"),
         url("fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/Roboto-Bold-webfont.woff2") format("woff2"),
         url("fonts/Roboto-Bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  color: #ffffff;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  background-color: #849d8f;
}

body > * {
  width: 1146px;
  margin: auto;
  padding-left: 27px;
  padding-right: 27px;
}

a {
  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

a:hover, a:active {
  color: #ffbc9e;

  border-bottom-color: rgba(255, 188, 158, 0.2);
}

.button {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;

  background-color: #e84d37;
  background: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background: -o-linear-gradient(bottom, #e74a35, #f26843);
  background: linear-gradient(to top, #e74a35, #f26843);
  border: none;
  -webkit-box-shadow: 0 1px 2px 0 #ac1000;
          box-shadow: 0 1px 2px 0 #ac1000;
}

.main-logo {
  border-bottom: none;
}

.main-menu-list {
  margin: 0;
  padding: 0;

  line-height: 18px;
  font-weight: 700;

  list-style: none;
}

.main-menu-item a {
  position: relative;
}

.main-menu-item > a::before {
  position: absolute;
  top: -5px;
  left: -10px;
  z-index: -1;

  display: none;
  width: calc(100% + 20px);
  height: calc(100% + 10px);

  content: "";
}

.main-menu-item > a:hover {
  color: #323232;

  border-bottom: none;
}

.main-menu-item > a:hover::before,
.main-menu-item > a:focus::before {
  display: block;

  background-color: #f7f6f3;
}

.main-menu-item > a:active::before {
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
          box-shadow: inset 0 2px 1px 0 #696969;
}

.main-menu-current > a,
.main-menu-current > a:hover,
.main-menu-current > a:active {
  color: #ffffff;

  background-color: #d07058;
  border-bottom: none;
}

.main-menu-current > a::before,
.main-menu-current > a:hover::before,
.main-menu-current > a:active::before {
  display: block;

  background-color: #d07058;
}

.submenu-list {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  background-color: #f7f6f3;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);

  list-style: none;
}

.submenu-list a {
  display: block;

  color: #323232;
}

.submenu-item:first-of-type {
  font-weight: bold;
}

.submenu-list a:hover,
.submenu-list a:focus {
  background-color: #fbded7;
}

.submenu-list a:active {
  background-color: #f6b5a5;
}

.submenu-item-current a,
.submenu-item-current a:hover,
.submenu-item-current a:active {
  color: #ffffff;

  background-color: #d07058;
}

.user-menu-list {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  list-style: none;
}

.user-menu-item > a {
  display: block;

  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: none;
}

.user-menu-item > a:hover,
.user-menu-item > a:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.search-form,
.login-form {
  color: #323232;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}

.search-form input,
.login-form input {
  color: #323232;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.5);
}

.search-form input:hover,
.login-form input:hover {
  border: 2px solid rgba(154, 154, 154, 0.5);
}

.search-form input::-webkit-input-placeholder,
.login-form input::-webkit-input-placeholder {
  color: #999999;
}

.search-form input:-ms-input-placeholder,
.login-form input:-ms-input-placeholder {
  color: #999999;
}

.search-form input::-ms-input-placeholder,
.login-form input::-ms-input-placeholder {
  color: #999999;
}

.search-form input::placeholder,
.login-form input::placeholder {
  color: #999999;
}

.login-form a {
  color: #323232;
  text-decoration: none;

  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.login-form a:hover,
.login-form a:focus,
.login-form a:active {
  color: #e84d37;

  border-bottom-color: rgba(232, 77, 55, 0.3);
}

.login-recovery {
  margin: 0;
  padding: 0;

  font-size: 13px;
}

.working-info {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.working-info-phone {
  font-size: 22px;
  line-height: 24px;
}

.slider-radio input[type="radio"]::before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;

  width: 100%;
  height: 100%;

  content: "";
}

.slider-radio:nth-of-type(1) input[type="radio"]:checked::before {
  background-color: #849d8f;
}

.slider-radio:nth-of-type(2) input[type="radio"]:checked::before {
  background-color: #8996a6;
}

.slider-radio:nth-of-type(3) input[type="radio"]:checked::before {
  background-color: #9d8b84;
}
