@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular-webfont.eot");
    src: local("Roboto"), local("Roboto-Regular"), local("Roboto-Regular-webfont"),
         url("fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/Roboto-Regular-webfont.woff2") format("woff2"),url(),
         url("fonts/Roboto-Regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Medium-webfont.eot");
    src: local("Roboto"), local("Roboto-Medium"), local("Roboto-Medium-webfont"),
         url("fonts/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/Roboto-Medium-webfont.woff2") format("woff2"),
         url("fonts/Roboto-Medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Bold-webfont.eot");
    src: local("Roboto"), local("Roboto-Bold"), local("Roboto-Bold-webfont"),
         url("fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/Roboto-Bold-webfont.woff2") format("woff2"),
         url("fonts/Roboto-Bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  color: #ffffff;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  background-color: #849d8f;
}

body > * {
  width: 1146px;
  margin: auto;
  padding-left: 27px;
  padding-right: 27px;
}

a {
  position: relative;

  color: #ffffff;
  text-decoration: none;
}

a::after {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  content: "";
}

a:hover,
a:active {
  color: #ffbc9e;
}

a:hover::after,
a:focus::after,
a:active::after {
  border-bottom-color: rgba(255, 188, 158, 0.3);
}

.button {
  position: relative;

  margin: 0;
  padding: 0;

  color: #ffffff;
  font-size: 18px;
  line-height: 24px;

  background-color: #e84d37;
  background: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background: -o-linear-gradient(bottom, #e74a35, #f26843);
  background: linear-gradient(to top, #e74a35, #f26843);
  border: none;
  -webkit-box-shadow: 0 1px 2px 0 #ac1000;
          box-shadow: 0 1px 2px 0 #ac1000;
}

a.button::after {
  border-bottom: none;
}

.button::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  display: block;
  width: 100%;
  height: 100%;

  background-color: transparent;

  content: "";
}

.button:hover::before,
.button:focus::before {
  background-color: rgba(255, 255, 255, 0.2);
}

.button:hover {
  color: #fefefe;

  outline: none;
}

.button:active::before {
  background-color: rgba(0, 0, 0, 0.07);
}

.button:active {
  color: #fceeec;

  background: -webkit-linear-gradient(bottom, #e74a35, #e74a35);
  background: -o-linear-gradient(bottom, #e74a35, #e74a35);
  background: linear-gradient(to top, #e74a35, #e74a35);
  -webkit-box-shadow: inset 0 2px 2px 0 #942718;
          box-shadow: inset 0 2px 2px 0 #942718;

  outline: none;
}

.page-header {
  position: relative;
}

.main-logo {
  border-bottom: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.main-nav a::after {
  display: none;
}

.main-menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: auto;
  padding: 0;
  padding-top: 21px;
  padding-left: 9px;

  line-height: 18px;
  font-weight: 700;

  list-style: none;
}

.main-menu-item {
  position: relative;
  padding-left: 14px;
  padding-right: 14px;
}

.main-menu-item > a {
  position: relative;
}

.main-menu-item > a::after {
  display: block;
}

.main-menu-item > a::before {
  position: absolute;
  top: -5px;
  left: -14px;
  z-index: -1;

  display: none;
  width: calc(100% + 28px);
  height: calc(100% + 12px);

  border-radius: 17px;

  content: "";
}

.main-menu-item:hover > a {
  color: #323232;

  border-bottom: none;
}

.main-menu-item:hover > a::after,
.main-menu-item > a:active::after {
  display: none;
}

.main-menu-item:hover > a::before {
  display: block;

  background-color: #f7f6f3;
}

.main-menu-item > a:active::before {
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
          box-shadow: inset 0 2px 1px 0 #696969;
}

.main-menu-item > a {
  color: #ffffff;
}

.main-menu-item > a::before {
  display: none;
}

.main-menu-current > a,
.main-menu-current > a:hover,
.main-menu-current > a:active {
  color: #ffffff;

  background-color: #d07058;
  border-bottom: none;
}

.main-menu-current > a::before,
.main-menu-current > a:hover::before,
.main-menu-current > a:active::before {
  display: block;

  background-color: #d07058;
}

.submenu-list {
  position: absolute;
  top: 31px;
  left: -6px;
  z-index: 2;

  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 4px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  background-color: #f7f6f3;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 4px;

  list-style: none;

  visibility: hidden;
}

.main-menu-item:hover .submenu-list {
  visibility: visible;
}

.submenu-list a {
  display: block;
  min-width: 115px;
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 8px;

  color: #323232;
}

.submenu-list a:active {
  background-color: #f6b5a5;
}

.submenu-list a:hover {
  background-color: #fbded7;
}

.submenu-item {
  margin-bottom: 2px;
}

.submenu-item:first-of-type {
  position: relative;

  margin: 0;
  margin-bottom: 9px;
}

.submenu-item:first-of-type::before {
  position: absolute;
  bottom: -5px;
  left: 7px;

  width: calc(100% - 15px);
  height: 1px;

  background-color: rgba(53, 53, 53, 0.2);

  content: "";
}

.submenu-item:first-of-type a {
  padding-top: 5px;

  font-weight: bold;
}

.submenu-item-current a,
.submenu-item-current a:hover,
.submenu-item-current a:active {
  color: #ffffff;

  background-color: #d07058;
}

.user-menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 15px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  list-style: none;
}

.user-menu-item {
  position: relative;

  margin-left: 8px;
}


.user-menu-item > a {
  display: block;

  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: none;
}

.user-menu-item > a::after {
  display: none;
}

.user-menu-cart-full > a {
  color: #323232;

  background-color: #f7f6f3;
}

.user-menu-item:hover > a {
  color: #323232;

  background-color: #f8f7f4;
}

.user-menu-cart-full:active > a {
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
          box-shadow: inset 0 2px 1px 0 #696969;
}

.user-menu-search {
  top: -1px;
  left: -1px;
}

.user-menu-search > a {
  display: block;
  width: 34px;
  height: 34px;

  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/loupe-white.png");
  background-position: top 50% left 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.user-menu-search:hover > a {
  background-image: url("../img/loupe-black.png");
}

.user-menu-login > a,
.user-menu-cart > a {
  display: block;
  padding-top: 7px;
  padding-bottom: 9px;
  padding-left: 45px;
  padding-right: 17px;

  border-radius: 17px;
}

.user-menu-login > a {
  background-image: url("../img/login-white.png");
  background-position: top 50% left 17px;
  background-repeat: no-repeat;
}

.user-menu-login:hover > a {
  background-image: url("../img/login-black.png");
}

.user-menu-item.user-menu-cart-empty > a,
.user-menu-item.user-menu-cart-empty:hover > a,
.user-menu-item.user-menu-cart-empty:active > a {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/cart-empty.png");
  background-position: top 50% left 17px;
  background-repeat: no-repeat;
}

.search-form {
  position: absolute;
  top: 37px;
  right: 1px;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;

  border-radius: 6px;

  visibility: hidden;
}

input[type="search"],
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 311px;
  padding-top: 12px;
  padding-bottom: 15px;
  padding-left: 13px;
  padding-right: 15px;
  box-sizing: border-box;

  border-radius: 6px;
}

.user-menu-search:hover .search-form {
  visibility: visible;
}

.login-form {
  display: none;
}

.search-form,
.login-form,
.feedback-form {
  color: #323232;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}

form input,
form textarea {
  color: #323232;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;

  background-color: #ffffff;
  border: none;
  outline: none;
  -webkit-box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.5);
          box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.5);
}

form input:hover,
form textarea:hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.5);
          box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.5);
}

form input:focus,
form textarea:focus {
  -webkit-box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.5);
          box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.5);
}

form input::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  color: #999999;
}

form input:-ms-input-placeholder,
form textarea:-ms-input-placeholder {
  color: #999999;
}

form input::-ms-input-placeholder,
form textarea::-ms-input-placeholder {
  color: #999999;
}

form input::placeholder,
form textarea::placeholder {
  color: #999999;
}

.login-form a {
  color: #323232;
  text-decoration: none;
}

.login-form a::after {
  display: block;
}

.login-form a:hover,
.login-form a:focus,
.login-form a:active {
  color: #e84d37;
}

.login-form a::after {
  bottom: 1px;

  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.login-form a:hover::after,
.login-form a:focus::after,
.login-form a:active::after {
  border-bottom-color: rgba(232, 77, 55, 0.3);
}

.login-recovery {
  margin: 0;
  padding: 0;

  font-size: 13px;
}

.working-info {
  position: absolute;
  bottom: -40px;
  right: 30px;


  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
}

.working-info-phone {
  display: block;
  padding-top: 4px;

  font-size: 22px;
  line-height: 24px;
}

.slider-radio::before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;

  width: 100%;
  height: 100%;

  content: "";
}

.slider-radio:nth-of-type(1):checked::before {
  background-color: #849d8f;
}

.slider-radio:nth-of-type(2):checked::before {
  background-color: #8996a6;
}

.slider-radio:nth-of-type(3):checked::before {
  background-color: #9d8b84;
}

.slide {
  display: none;

  text-align: center;
}

.slider-radio:nth-of-type(1):checked ~ .slide-first,
.slider-radio:nth-of-type(2):checked ~ .slide-second,
.slider-radio:nth-of-type(3):checked ~ .slide-third {
  display: block;
}

.slide-title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slide-button {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.8);
}

.special-offer {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.special-offer-raspberry {
  background-color: #70122b;
}

.special-offer-chocolate {
  background-color: #3e261c;
}

.special-offer-title {
  font-size: 35px;
  line-height: 41px;
}

.product-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-item-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.product-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 1px 1px 3px #313235;
}

.features {
  color: #323232;

  background-color: #e7d9b8;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.blog-news {
  color: #323232;

  background-color: #ffffff;
}

.blog-news-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-news-item {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.blog-news-item::after {
  bottom: 3px;

  border-bottom: 2px solid #323232;
}

.blog-news-item:hover,
.blog-news-item:focus,
.blog-news-item:active {
  color: #e84d37;
}

.blog-news-item:hover::after,
.blog-news-item:focus::after,
.blog-news-item:active::after {
  border-bottom-color: #e84d37;
}

.subscribe-wrapper {
  color: #5a5a5a;

  background-color: #f8f7f4;
}

.subscribe-form input[type="email"]{
  font-size: 16px;
  line-height: 24px;
}

.subscribe-form input[type="email"]::-webkit-input-placeholder {
  color: #999999;
}

.subscribe-form input[type="email"]:-ms-input-placeholder {
  color: #999999;
}

.subscribe-form input[type="email"]::-ms-input-placeholder {
  color: #999999;
}

.subscribe-form input[type="email"]::placeholder {
  color: #999999;
}

.contacts-card {
  color: #323232;
  font-size: 14px;
  line-height: 20px;

  background-color: #fefefe;
}

.address,
.phone {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.page-footer {
  font-size: 13px;
  line-height: 18px;
}

.social-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-menu-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.copyright {
  font-size: 12px;
}

.modal {
  color: #323232;

  background-color: #f8f7f4;
}

.modal-feedback-title {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.modal input,
.modal textarea {
  color: inherit;
  font-size: 16px;
  line-height: 24px;
}

.feedback-form {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cart-wrapper {
  color: #323232;
  font-size: 13px;
  line-height: 16px;

  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.cart-content {
  border-collapse: collapse;
}

.cart-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;

  border-top: 1px solid #cacac6;
}

.breadcrumbs {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.breadcrumbs-item:not(:last-of-type) a::before {
  position: absolute;
  top: auto;
  right: -20px;

  content: "»";
}

.breadcrumbs-item:last-of-type a::after,
.breadcrumbs-item:last-of-type a:hover::after,
.breadcrumbs-item:last-of-type a:focus::after,
.breadcrumbs-item:last-of-type a:active::after {
  display: none;
}

.product-filters {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.product-filter {
  position: relative;

  margin-bottom: 10px;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}

.product-filters-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-filter-header {
  position: absolute;
  top: -10px;
  left: 0;

  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
}

.filter-sort-title {
  position: relative;
  padding-right: 30px;
}

.filter-sort-title::before {
  position: absolute;
  top:8px;
  right: 10px;

  width: 1px;
  height: 1px;

  background-color: transparent;
  border: 5px solid #ffffff;
  border-top-width: 10px;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;

  content: "";
}

.product-filter:hover .filter-sort-title {
  color: #323232;
}

.product-filter:hover .filter-sort-title::before {
  border-top-color: #323232;
}

.sort-list {
  position: absolute;
  top: 0;
  left: -150px;

  margin: 0;
  padding: 0;
  width: 100%;

  color: #323232;

  background-color: #ffffff;

  list-style: none;
}

.filter-button {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  -webkit-box-shadow: inset 0 0 0 2px #ffffff;
          box-shadow: inset 0 0 0 2px #ffffff;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;

  background-color: #fbfcfb;
}

.filter-button:active {
  background-color: #eaeaea;
  -webkit-box-shadow: 0 -2px 1px 0 #696969;
          box-shadow: 0 -2px 1px 0 #696969;
}

.pagination-list {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;

  list-style: none;
}

.pagination-item a::after {
  display: none;
}

.pagination-item a {
  display: block;
}

.pagination-item a:hover,
.pagination-time a:focus {
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-item-disabled a,
.pagination-item-disabled a:hover,
.pagination-item-disabled a:focus,
.pagination-item-disabled a:active {
  color: #ffffff;

  background-color: transparent;

  opacity: 0.2;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
